@import url(./../assets/styles/colors.css);

.page {
  background-color: var(--backgroung-color-content);
  padding: 10px 50px 20px 50px;
  border-radius: 10px;
  width: 90vw;
}

.page-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}