.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: silver;
  color: white;
}
