.content-cover {
  background-color: whitesmoke;
  padding: 15px;
  min-height: calc(100vh - 90px - (15px*2));
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

